
<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 border-b">
      <div class="text-4xl font-extrabold tracking-tight">Upload do Video</div>
    </div>
    <div class="w-full mt-5 overflow-auto">
        <form enctype="multipart/form-data" (ngSubmit)="submitForm()" [formGroup]="videoForm">
              <div class="bg-red-100 text-red-700 p-4 rounded mb-4" *ngIf="errors.length > 0">
                <h3 id="msgRetorno" class="font-bold">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                  <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
              </div>
              
              <div class="flex flex-wrap -mx-3 mb-6 ml-3 mr-3">
                <div class="w-full px-3 mt-2">
                    <label class="block text-gray-700 font-bold mb-2" for="tituloVideo">Nome do Vídeo:</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tituloVideo" type="text" placeholder="Título (requerido)" formControlName="tituloVideo" [ngClass]="{'border-red-500': displayMessage.tituloVideo}">
                    <span class="text-red-500" *ngIf="displayMessage.tituloVideo">
                      <p [innerHTML]="displayMessage.tituloVideo"></p>
                    </span>
                  </div>
                  <div class="w-full px-3 mt-2">
                    <label class="block text-gray-700 font-bold mb-2" for="nomeUsuario">Nome do Usuário:</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nomeUsuario" type="text" placeholder="Nome (requerido)" formControlName="nomeUsuario" [ngClass]="{'border-red-500': displayMessage.urlLink}">
                    <span class="text-red-500" *ngIf="displayMessage.nomeUsuario">
                      <p [innerHTML]="displayMessage.nomeUsuario"></p>
                    </span>
                  </div>
                  <div class="w-full px-3 mt-2">
                    <label class="block text-gray-700 font-bold mb-2" for="video">Vídeo:</label>
                    <input type="file"  class="shadow appearance-none border rounded w-full py-2 px-3 mb-3  text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                  id="video" formControlName="video" name="video" (change)="fileChangeEvent($event.target.files)" >
                  </div>
                
                
              </div>
            <div class="flex flex-wrap justify-center items-center mt-4 mb-4">
              <button type="submit" id="cadastroRtsp" [disabled]="!videoForm.valid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                Cadastrar
              </button>
              <a class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" (click)="navegaParaList()">Voltar</a>
            </div>
          </form>
    </div>
  
  </div>
  
  
    
  
    
    
      